<footer>
 <div class="container">
  <div class="footer-section">
    <h5>LIVE EVENTS</h5>
    <ul>
      <li>Bhagavad Gita</li>
      <li>Sant Sarita</li>
      <li>Vedant Samhita</li>
      <li>Bodh Pratyusha</li>
    </ul>
  </div>

  <div class="footer-section">
    <h5>WISDOM CONTENT</h5>
    <ul>
      <li>Video Series</li>
      <li>AP Books</li>
      <li>AP Articles</li>
      <li>AP Circle</li>
    </ul>
  </div>

  <div class="footer-section">
    <h5>MORE</h5>
    <ul>
      <li>About Acharya Prashant</li>
      <li>Invite Him</li>
      <li>Interview Him</li>
      <li>Ghar Ghar Upanishad</li>
      <li>Media and Public Interaction</li>
    </ul>
  </div>

  <div class="footer-section">
    <h5>SOCIAL MEDIA</h5>
    <ul>
      <li>For English</li>

<i class="fa fa-youtube"></i>
<i class="fa fa-twitter"></i>
<i class="fa fa-facebook-f"></i>
<i class="fa fa-instagram"></i>
<i class="fa fa-wordpress"></i>
      <li>For Hindi</li>
      <i class="fa fa-youtube"></i>
      <i class="fa fa-twitter"></i>
      <i>@</i>
      <i class="fa fa-facebook-f"></i>
      <i class="fa fa-instagram"></i>
    </ul>
  </div>

  <div class="footer-section">
    <h5>DOWNLOAD APP</h5>
    <ul>
     <div class="profile-icon d-flex mb-3">
      <div class="logo">
        <img src="assets/IMG_7382.jpg" alt="Profile Icon">
      </div>
      <li>Acharya Prashant</li>
     </div>
      <li><img src="assets/ic_googleplay.png" alt=""></li>
      <li><img src="assets/ic_appstore.png" alt=""></li>
    </ul>
  </div>

  <div class="footer-section">
    <h5>CONTACT US</h5>
    <p>  <i class="fa fa-envelope"></i> <a href="mailto:support@advait.org.in">support@advait.org.in</a></p>
    <p>  <i class="fa fa-whatsapp"></i> <a href="tel:+919650585100">+91 9650585100</a></p>
    <p>   <i class="fa fa-phone"></i> <a href="tel:+919650585100">+91 9650585100</a></p>
    <p>  <i class="fa fa-map-marker"></i>Address: 11, R-5/119, Raj Nagar, Sec. - 5, Ghaziabad, U.P. | PIN: 201002</p>
  </div>
 </div>
  
 <hr>
<div class="container">
  <div class="footer-section-bottom">
    <p>Copyright © 2022 PrashantAdvait Foundation</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <p><a href="#">Terms & Conditions</a> |&nbsp;&nbsp; <a href="#">Privacy Policy</a> |&nbsp;&nbsp; <a href="#">Undertaking</a></p>
  </div>
</div>
  </footer>




