    <div class="breadcrumb">
        <span>Home ></span>
        <span>संतवाणी</span>
      </div>
      
    <h2 class="page-heading">संतवाणी</h2>

    <div class="container">
        <div class="col-md-5">
            <img src="assets/guru.jpeg" alt="">
          </div>
         <div class="col-md-7">
                <h3>संतों की सीख पर आधारित श्रृंखला</h3>
                <p>जब-जब समाज में धर्म के प्रति अनादर बढ़ा है और आम-आदमी की चेतना को पाखंड ने घेरा है, तब-तब संतों ने अपने वचनों से हमारे मन को शीतलता प्रदान की है और सामाजिक चेतना को शुद्ध किया है। इस श्रृंखला में आचार्य जी ने संत कबीरदास, तुलसीदास, पलटूदास, दादू दयाल, सहजोबाई, मलूकदास, दरियादास, रविदास आदि संतों की वाणी पर चर्चा की है। जानिए उनके वचनों की जीवन में सार्थकता को आचार्य प्रशांत के साथ इस आसान वीडियो कोर्स में।</p>
         </div>
      </div>
   <div class="social">
    <h5>Share this series:</h5>
    <div class="social-icons">
       <i class="fa fa-facebook-f"></i>
       <i class="fa fa-twitter"></i>
       <i class="fa fa-whatsapp"></i>
       <i class="fa fa-linkedin"></i>
    </div>
   </div>

   <h5 class="video-heading">Video Series (8)</h5>

   <app-course-card [course]="courseData"></app-course-card>

   <h5 class="video-heading">Other Helpful Video Series</h5>


   <app-video-series></app-video-series>

   <h5 class="video-heading">FAQs</h5>
<div class="container-faq">
    <div class="col-md-5 faq-section">
        <p> Can't find the answer you're looking for?</p>
        <p> Reach out to our <a href="your-support-link-here" style="color: orange; cursor: pointer; text-decoration: none;">support </a>team.</p>
    </div>
    
      <div class="col-md-7">
        <app-faq></app-faq>
      </div>
</div>


<app-footer></app-footer>